# See https://help.github.com/ignore-files/ for more about ignoring files.

terraform_tests
.terraform
.setup-env.sh
.deploy.sh

# dependencies
node_modules
.vscode

# local env files (might switch to secrets or gh env)
.env.local
.env.*.local
.env